{% extends 'base.html'%}

 {% block content %}
 <div class="container mt-3">
    <a href="{% url 'create' %}" class="btn btn-outline-primary my-2">Add Hood</a>
 </div>
<div class="container mb-4">
    <div class="row">
        <h2 align="center" style="font-family: Oleo Script Swash Caps, cursive;font-size:35px;">Choose Your Hood</h2>  
        {% for hood in hoods %}
        <div class="col-md-4 mb-3">
            <div class="card">
              <img src="{{hood.picture.url}}" style="height: 300px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 style="font-family: Oleo Script Swash Caps, cursive;">{{hood.name}} Neighborhood </h3>  
                    <p class="card-text">Location : {{hood.location}}</p>             
                  <small><strong>Occupants : {{hood.occupants_count}}</strong></small> 
                  <div class="container my-3">
                    <a href="{% url 'home' %}" class="btn btn-outline-primary my-2" style="margin-right:5px">Join Hood</a>
                    <a href="{% url 'hoodupdate' %}" class="btn btn-outline-success my-2" style="margin-left:10px">Update Hood</a>
                 </div>

                </div>
            </div>
        </div>
        {%  endfor %}
    </div>
  </div>  

  {% endblock %}  

  <!-- {% if request.user.profile.hood == hoods %}
  <a href="{% url 'leave_hood' hoods.id %}" class="btn btn-outline-danger btn-sm">Leave at will</a>

  <a href="{%url 'single_hood' hoods.name %}" class="btn btn-outline-success btn-sm"
      style="float: right">Explore {{hoods.name}}
  </a>
  {% elif not request.user.profile.hood %}
  <a href="{% url 'single_hood' hoods.name %}" class="btn btn-success btn-sm">Join Hood</a>
  {% endif %} -->