{%extends 'base.html'%}

 {% block content %}
 <div class="container my-2">

    <div class="row">
      {% if businesses %}
        <h2>Found {{ businesses|length }} of searched term {{message}}</h2>
      {% else %}
        <h2> Found 0 businesses for the search term... {{message}}</h2>
      {% endif %}
  
    </div>
  
    {% if businesses %}
        <a href="{% url 'home' %}" class="btn btn-outline-info my-3">Go back</a>
    </div>
    {% for business in businesses %}
    <div class="container">
        <div class="row">
              <div class="col-md-12 mb-5"> 
                  <h3 align="center" style="font-family: Oleo Script Swash Caps, cursive;">{{business.name}}</h3> 
              </div>
        </div> 
       
        <div class="row">
         <div class="col-md-6 mb-5">
            <div class="card">    
                <img style="height:350px;"src="{{business.picture.url}}" class="card-img-top" alt="...">
            </div>
         </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p style="font-family: Satisfy, cursive; font-size:25px;">Title: {{business.name}}</p>
                        <p>{{business.email}}</p>
                    </div>
                </div>
            </div>
        </div>
       
    </div> 
      {% endfor %}
  
    {% endif %}
    </div>
  </div>
  {% endblock %}
  