{% extends 'authenticate/index.html'%}

{% block content %}
{% for message in messages %}
 <div class="alert alert-success alert-dismissible fade show" role="alert">     
    <p>{{message}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {% endfor %} 
 </div>
<div class="container">
                <div class="row"> 
                    <div class="col-md-4">
                      <h2 class="mt-5" align="center" style="font-family: Oleo Script Swash Caps, cursive;font-size: 55px; color:white;">Login</h2>  
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="text" name="username" placeholder="Username" class="form-control">
                                </div>
                                <div class="input-group mb-3">
                                <input type="password" name="password" placeholder="Password" class="form-control" >
                                </div>
                                <button type="submit" type="submit" class="btn btn-light mt-3">Login</button>
                            </form>
                        <div class="mt-4">
                            <p style="color:white;"> Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a></p>
                        </div>
                    </div>
                </div> 

<style>
    body {
        background-image: url("/static/media/wp5.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    </style>
{% endblock %}