{% extends 'authenticate/index.html'%}

{% block content %}
<div class="card bg-dark text-white">
    <img src="/static/media/wpi.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <div class="container">
            <div class="d-flex justify-content-center form_container"> 
              <div class="row"> 
                  <div class="col-md-12">
                      <h2 class="mt-5" align="center"style="font-family: Oleo Script Swash Caps, cursive;font-size: 55px;">Register</h2>    
                      <form method="POST" action="" style="width: 450px;">
                          {% csrf_token %}
                          <div class="input-group mb-3">
                              {{ form.username}}
                          </div>
                              <div class="input-group mb-3">
                                  {{ form.email}}
                              </div>
                              <div class="input-group mb-3">
                                  {{ form.password1}}
                              </div>
                              <div class="input-group mb-2">
                                  {{ form.password2}}       
                              </div>
                              <button type="submit" type="submit" class="btn btn-light mt-3">Sign Up</button>
                          </form>
                          <div class="mt-4">
                              <p>Already Have an account? <a href="{% url 'login' %}" class="ml-2">Log in</a></p>
                          </div>
                          <p>{{form.errors}}</p> 
                      </div>
                  </div>
              </div>
            </div>
          </div>
        <script>
        
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username';
        form_fields[2].placeholder='Email';
        form_fields[3].placeholder='Password';
        form_fields[4].placeholder='Confirm Password';
        
        
        for (var field in form_fields){	
        form_fields[field].className += ' form-control'
        }       
        </script>
    </div>
  </div>


{% endblock %}